.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */

.card-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: bold;
}

.description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.avatar {
  height: 50px;
  width: 50px;
  align-self: flex-end;
}
